body {
  background: rgb(40, 40, 40);
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.code {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 7.5vw;
}

.main-container {
  font-size: 5vw;
  margin-top: 50px;
  overflow: hidden;
  word-break: break-word;
}

.formula {
  padding: 20px;
  border: 3px solid #fff;
  display: inline-block;
}

.qrcode {
  width: 60vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3vw;
  }

  .main-container {
    font-size: 1.5vw;
    margin-top: 100px;
  }
  .formula {
    padding: 20px;
    border: 3px solid #fff;
    display: inline-block;
  }
  .left-padding {
    padding-left: 50px;
  }

  .qrcode {
    width: 10vw;
    height: auto;
    margin: 0px;
  }

  .media-images {
    width: 4vw;
  }
}

@media (min-width: 1920px) {
  .main-container {
    font-size: 1.3vw;
  }
  .formula {
    padding: 20px;
    border: 3px solid #fff;
    display: inline-block;
  }

  .left-padding {
    padding-left: 20px;
  }
}
